.map {
  width: 100vw;
  height: 100vh;
}

.crosscontainer {
  position: fixed;
  width: 95vw;
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
  z-index: 50;
}

.crosshairs {
  width: 40px;
  height: 40px;
  border-radius: 15px;
  box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
  background: rgba(255, 255, 255, 0.442);
  backdrop-filter: blur(20px);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  outline: none;
  border: none;
}

.crosshair {
  color: rgb(14, 139, 255);
  font-size: 20px;
}

.container {
  z-index: 30;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.145);
}

.aniwindow {
  animation: bottomToTop;
  animation-duration: .5s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;

  position: fixed;
  overflow-y: auto;
  z-index: 50;
  display: flex;
  justify-content: center;
  align-items: start;
  box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
  background: rgba(255, 255, 255, 0.585);
  backdrop-filter: blur(20px);
  width: 100vw;
  height: 70vh;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  margin-top: 70%;
}
.unaniwindow {
  animation: topToBottom;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;

  position: fixed;
  overflow-y: auto;
  z-index: 50;
  display: flex;
  justify-content: center;
  align-items: start;
  box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
  background: rgba(255, 255, 255, 0.585);
  backdrop-filter: blur(20px);
  width: 100vw;
  height: 70vh;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  margin-top: 70%;
}

.bar {
  margin-top: 10px;
  width: 100px;
  height: 6px;
  background: rgba(195, 195, 195, 0.321);
  backdrop-filter: blur(20px);
  border-radius: 10px;
}

.contain {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.name {
  color: rgb(14, 139, 255);
  margin-top: 50px;
  font-size: 25px;
  font-weight: bold;
}
.address {
  font-size: 16px;
  margin-bottom: 10px;
  color: rgb(14, 139, 255);
}
.phone {
  font-size: 15px;
  margin-bottom: 50px;
  color: rgb(14, 139, 255);
}

.dircontain {
  width: 250px;
  height: 60px;
  border-radius: 20px;
  border: solid rgba(173, 173, 173, 0.373) 1px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 20px;
}

.diriconcontain {
  border-radius: 20px;
  width: 50px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}
.dirplus {
  width: 20px;
  height: 20px;
  margin-left: 30px;
}
.dirtext {
  font-size: 16px;
  font-weight: 600;
}

.starcontain {
  width: 100vw;
  display: flex;
  justify-content: flex-end;
}

.star {
  width: 25px;
  height: 25px;
  margin-right: 20px;
}


/* ==== Animation ==== */

@keyframes bottomToTop {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0%);
  }
}
@keyframes topToBottom {
  from {
    transform: translateY(0%);
  }
  to {
    transform: translateY(160%);
  }
}