.container {
  max-width: 500px;
  width: 80vw;
  height: 75vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.left {
  max-width: 500px;
  width: 90vw;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 10px;
}
.right {
  max-width: 500px;
  width: 90vw;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
}

.chat {
  max-width: 200px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
  background:rgb(128, 82, 255);
  color: white;
  font-weight: 600;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.me {
  max-width: 200px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
  background:rgb(44, 139, 255);
  color: white;
  font-weight: 600;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.contain {
  display: flex;
  flex-direction: column;
}

.name {
  font-size: 13px;
  font-weight: 600;
}
.content {
  font-size: 16px;
  font-weight: 400;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  object-fit: cover;
}

.send {
  position: fixed;
  margin-top: 78vh;
  display: flex;
  align-items: center;
}

.arrow {
  font-size: 20px;
  color: white;
}

.sender {
  margin-left: -50px;
  border-radius: 100%;
  width: 40px;
  height: 40px;
  outline: none;
  border: none;
  background: rgb(79, 158, 255);
}

.input {
  max-width: 500px;
  width: 80vw;
  height: 60px;
  border-radius: 20px;
  box-shadow: 0px 5px 20px 6px rgba(0,0,0,0.1);
  outline: none;
  border: none;
  padding-left: 20px;
  margin-left: -5px;
  font-size: 16px;
}